---

---

<section id="about" class="bg-red-400">
  <div class="text-center">
    <h2 class="text-4xl mb-4">About Me</h2>
    <p class="text-lg">
      I'm a passionate Software Engineer who loves building impactful
      applications. With experience in React, Node.js, and more, I strive to
      create optimized, user-friendly applications.
    </p>
  </div>
</section>
