---

---

<section id="contact" class="py-20 bg-gray-100">
  <div class="text-center">
    <h2 class="text-4xl font-bold">Contato</h2>
    <p class="mt-4">
      Você pode me encontrar no LinkedIn ou enviar um e-mail para
      contato@meuemail.com
    </p>
  </div>
</section>
