---

---

<section id="skills" class="mb-12">
  <h2 class="text-2xl font-semibold mb-4">Skills</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
      <h3 class="text-xl font-medium mb-2">Programming Languages</h3>
      <p class="text-gray-700">
        Typescript, Java, Python (Pandas, NumPy), C++, Lua, SQL
      </p>
    </div>
    <div>
      <h3 class="text-xl font-medium mb-2">Frameworks & Technologies</h3>
      <p class="text-gray-700">
        React, Spring Boot, NestJS, tailwindcss, Selenium, Plotly
      </p>
    </div>
    <div>
      <h3 class="text-xl font-medium mb-2">Databases</h3>
      <p class="text-gray-700">PostgreSQL, Oracle</p>
    </div>
    <div>
      <h3 class="text-xl font-medium mb-2">Version Control</h3>
      <p class="text-gray-700">Git</p>
    </div>
    <div>
      <h3 class="text-xl font-medium mb-2">Cloud Tools</h3>
      <p class="text-gray-700">AWS (SQS, S3)</p>
    </div>
    <div>
      <h3 class="text-xl font-medium mb-2">Soft Skills</h3>
      <p class="text-gray-700">
        Critical Thinking, Adaptability, Proactivity, Creativity, Communication
      </p>
    </div>
    <div>
      <h3 class="text-xl font-medium mb-2">Languages</h3>
      <p class="text-gray-700">Intermediate English, Native Portuguese</p>
    </div>
  </div>
</section>
