---

---

<header class="bg-gray-800 text-white p-4">
  <nav class="flex justify-center space-x-8">
    <a href="#about" class="hover:text-green-300">About</a>
    <a href="#projects" class="hover:text-green-300">Projects</a>
    <a href="#contact" class="hover:text-green-300">Contact</a>
  </nav>
</header>
