---
import Footer from "./footer.astro";
import Head from "./head.astro";
import Header from "./Header.astro";
import Navbar from "@components/navbar.astro";
---

<html lang="en">
  <Head />
  <body>
    <Navbar />
    <main class="max-w-4xl mx-auto px-4 py-8">
      <Header />
      <slot />
    </main>
    <Footer />
  </body>
</html>
